@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body {
  height: 100%;
}

body {
  color: white;
  background-color: #bc423b;
}

h1 {
  text-align: center;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", "Ubuntu", Helvetica, Arial, sans-serif !important;
}

main {
  max-width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #524F52;
  margin: 0 auto -100px auto;
  padding-top: 70px;
  padding-bottom: 150px;
}

footer {
  height: 100px;
  background-color: #ed6333;
}

section.dashboard h1 {
  text-align: left;
}

#form-login {
  background-color: #343434;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
@media only screen and (max-width: 400px) {
  #form-login {
    width: 300px;
  }
}

.form-daftar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn-dasar {
  background-color: #343434;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 0;
  color: white;
  border: 1px solid white;
  transition: all 200ms ease;
  min-width: 100px;
  text-align: center;
}

.btn-dasar:visited, .btn-dasar:link {
  text-decoration: none;
  color: white;
}

.btn-dasar:hover {
  background-color: white;
  color: #343434;
  text-decoration: none;
}

.btn-dasar:active {
  color: #343434;
  background-color: white;
  text-decoration: none;
}

.btn-primary {
  background-color: #152EBA;
}

.btn-important {
  background-color: #167f10;
}

.bg-error {
  padding: 1rem;
  background-color: #bc423b;
}

.bg-success {
  padding: 1rem;
  background-color: #167f10;
}

.help-block {
  color: white;
}

.navbar-default {
  background-color: #343434;
  border-color: #343434;
  border-radius: 0;
  margin: 0;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: #bc423b;
  color: white;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
  transition: all 300ms ease;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #bc423b;
  color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #bc423b;
  color: white;
  background-color: #bc423b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #bc423b;
  color: white;
  background-color: #bc423b;
}
.navbar-default .navbar-toggle {
  border-color: #bc423b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #bc423b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  background-color: #bc423b;
  color: white;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #bc423b;
    color: white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #bc423b;
    color: white;
    background-color: #bc423b;
  }
}
.nav-tabs li.active a {
  color: white;
  background-color: #ed6333;
}
.nav-tabs li:hover.active a {
  background-color: #f49e80;
  color: white;
}
.nav-tabs li a {
  color: white;
}
.nav-tabs li:hover a {
  color: white;
  background-color: #f49e80;
}
