@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
html, body {
  height: 100%;
}

body {
  color: #343434;
  background-color: #bc423b;
}

h1 {
  text-align: center;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", "Ubuntu", Helvetica, Arial, sans-serif !important;
}

main {
  max-width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #fafafa;
  margin: 100px auto 100px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  height: 100px;
  background-color: #ed6333;
}

section.dashboard h1 {
  text-align: left;
}

strong {
  font-weight: 700;
}

.login-container {
  min-height: 0;
}

.paper-footer {
  text-align: right;
}

#form-login {
  background-color: #343434;
  border-radius: 10px;
  padding: 1em;
  display: block;
  margin: 20px auto;
  width: 400px;
}
@media only screen and (max-width: 400px) {
  #form-login {
    width: 300px;
  }
}
#form-login h2 {
  color: #fafafa;
}

.form-daftar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

legend {
  color: white;
}

.btn-dasar {
  background-color: #343434;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 0;
  color: white;
  border: 1px solid white;
  transition: all 200ms ease;
  min-width: 100px;
  text-align: center;
}

.btn-dasar:visited, .btn-dasar:link {
  text-decoration: none;
  color: white;
}

.btn-dasar:hover {
  background-color: white;
  color: #343434;
  text-decoration: none;
}

.btn-dasar:active {
  color: #343434;
  background-color: white;
  text-decoration: none;
}

.btn-primary {
  background-color: #2732b0;
}

.btn-important {
  background-color: #167f10;
}

.bg-error {
  padding: 1rem;
  background-color: #bc423b;
}

.bg-success {
  padding: 1rem;
  background-color: #167f10;
}

.help-block {
  color: white;
}

.dashboard-action a, .dashboard-action a:hover, .dashboard-action a:link, .dashboard-action a:visited, .dashboard-action a:active {
  color: #82CDB9;
  padding: 2px 5px;
  display: inline-block;
}
.dashboard-action a span.glyphicon, .dashboard-action a:hover span.glyphicon, .dashboard-action a:link span.glyphicon, .dashboard-action a:visited span.glyphicon, .dashboard-action a:active span.glyphicon {
  color: #343434;
}

.navbar-default {
  padding-left: 75px;
  background-color: #343434;
  border-color: #343434;
  border-bottom: 1px solid black;
  border-radius: 0;
  margin: 0;
  height: 70px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
  font-weight: bold;
}
.navbar-default .navbar-brand img {
  width: 40px;
  height: auto;
  padding-top: 12px;
  padding-left: 0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
  height: 70px;
  margin-top: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
  transition: all 300ms ease;
  height: 70px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #bc423b;
  color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #bc423b;
  color: white;
  background-color: #bc423b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #bc423b;
  color: white;
  background-color: #bc423b;
}
.navbar-default .navbar-toggle {
  border-color: #bc423b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #bc423b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  background-color: #bc423b;
  color: white;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #bc423b;
    color: white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #bc423b;
    color: white;
    background-color: #bc423b;
  }
}
.navbar-brand, .navbar-nav li a, .navbar-text {
  line-height: 70px;
  height: 70px;
  padding-top: 0;
}

.nav-tabs li.active a {
  color: white;
  background-color: #F37259;
}
.nav-tabs li:hover.active a {
  background-color: #f49e80;
  color: white;
}
.nav-tabs li a {
  color: white;
}
.nav-tabs li:hover a {
  color: white;
  background-color: #f49e80;
}

.modal p, .modal h1, .modal h2, .modal h3, .modal h4 {
  color: black;
}
