h1
{
    text-align: center;
}

#login-form
{
    border : 1px solid black;
    background-color: #FFECB3;
    padding: 1em;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login-form > h2
{
}